@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --body-bg-color: hsl(221, 100%, 96%);
    --result-bg-color: hsl(241, 81%, 54%);
    --summary-bg-color: hsl(0, 0%, 100%);
    --reaction-color: hsl(0, 100%, 67%);
    --memory-color: hsl(39, 100%, 56%);
    --verbal-color: hsl(166, 100%, 37%);
    --visual-color: hsl(234, 85%, 45%);
    --btn-bg-color: hsl(224, 30%, 27%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--body-bg-color);
    max-height: 100vh;
    font-family: Hanken Grotesk, sans-serif;
}